<footer>
    <div class="footer-content">
        <h3>Suivez-Nous</h3>

        <ul class="socials">
            <li>
                <a href="#">
                    <fa-icon [icon]="faLinkedinIn"></fa-icon>
                </a>
            </li>
            <li>
                <a href="#">
                    <fa-icon [icon]="faFacebook"></fa-icon>
                </a>
            </li>
            <li>
                <a href="#">
                    <fa-icon [icon]="faTwitter"></fa-icon>
                </a>
            </li>
        </ul>
        <img src="../../assets/img/Multicolor.png" alt="">
    </div>
    <div class="footer-bottom text-center">
        <p>copyright &copy; <a href="#">Ir4lab</a> </p>
    </div>

</footer>
