$prim :#151F3E;
$sec:#00a2e2;
#footer p {
    padding: 10px;
    text-align: center;
    color: #fff !important;
}

#footer p a {
    color: #33ccc5;
    transition: all .5s;
}

#footer p a:hover {
    color: #4771cb;
}

#footer {
    text-align: center;
    position: relative;
    bottom: 0;
    z-index: 100;
    background-color: $prim;
}
