$prim :#151F3E;
$sec:#00a2e2;
.animated-digit {
    display: inline-flex;
    height: 60px;
    width: 60px;
    color: $sec;
    text-align: center;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
    font-size: 32pt;
}
