<nav class="navbar navbar-expand-md navbar-light bg-transparent">
    <nav class="navbar  navbar-expand-md fixed-top navbar-light   ">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../assets/img/Multicolor.png">
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      
      <fa-icon [icon]="faBars"></fa-icon>
    </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <div class="container-fluid nav-wrapper p-0 m-0   ">
                    <ul class="navbar-nav me-auto mt-lg-0 w-100  h-100 d-flex justify-content-end align-items-center">
                        <li class="nav-item active ">
                            <a class="nav-link " routerLink="">Home <span class="visually-hidden">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " routerLink="about">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " routerLink="services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " routerLink="projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " routerLink="technologies">Technologies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " routerLink="contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>