<div id="projects">
    <h2>proj<span>ects</span></h2>
    <div class="container">
        <div class="wrap">

            <div class="box one">
                <h1>Doccerts</h1>
                <div class="poster p1">
                    <img src="../../assets/img/logoDoc.png" alt="">
                </div>
            </div>
            <div class="box two">
                <h1>Seculedger</h1>
                <div class="poster p1">
                    <img src="../../assets/img/logoPh.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
