
.fg {
    align-items: center;
    justify-content: center;
    background-color: rgba($color: (#fff), $alpha: 0.7);
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
}

.collection {
    padding: 30px 20px;
}

.card {
    width: 20rem;
    height: 400px;
    margin: 20px 60px;
    top: 0px;
    // border-radius: 10px;
    z-index: 0;
    overflow: visible;
    border: none;
    background-color: transparent;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    // border-radius: 10px;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    // box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // border-radius: 8px;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    text-align: center;
    font-size: 12px;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    // box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #f3f3f3;
}

.card .back h3 {
    font-size: 23px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
    font-size: 11.56px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.header {
    text-align: center;
    font-size: 24px;
    font-weight: 900;
}

.ko {
    margin: 0 50px;
    text-align: center;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium';
    color: rgb(18, 175, 214);
    background: rgba($color: rgb(18, 175, 214), $alpha: 0.1);
}
////////////////////////////////////////////////////////////////////////////////////
.light {
    .card .front {
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px #000;
    }

.ko{
    color: rgb(18, 175, 214);
    background: rgba($color: rgb(18, 175, 214), $alpha: 0.1);
}
.card .back .link a {
    color: #f3f3f3;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    
}
.fg {

  background-color: rgba($color: (#fff), $alpha: 0.9);
}
.card .back {

    box-shadow: 0 5px 10px #000;
}
}

/////////////////////////////////////////////////////////////////////////////////////
.dark{
    .ko{

        color:#10f32e;
        background: #fff;
    }
}

#technologies {
    padding-top: 75px;
}
