<div class="bv">
    <div class="container flex-wrap justify-content-center" >
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <div class="icon">
                        <img src="assets/images/blockchain.png">
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>
                        Blockchain
                    </h3>
                    <p style="font-size: 13px;">Blockchain is a shared, immutable ledger that 
                        facilitates the process of recording transactions and tracking assets in 
                        a business network. An asset can be tangible (a house, car, cash, land) or
                         intangible (intellectual property, patents, copyrights, branding).</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <div class="icon">
                       <img src="assets/images/ai.png" alt="">
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>
                        <a href="https://twitter.com/AdamDipinto" target="_blank">@AdamDipinto</a>
                    </h3>
                    <p>This is where I read news and network with different social groups.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <div class="icon">
                     <img src="assets/images/iot.png" alt="">
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>
                        <a href="https://github.com/atom888" target="_blank">atom888</a>
                    </h3>
                    <p>This is where I share code and work on projects.</p>
                </div>
            </div>
        </div>
    </div>
</div>