<!-- Nav tabs -->
<div class="collapse navbar-collapse" id="collapsibleNavId">
    <div class="container-fluid position-absolute p-0 m-0 w-100 h-100 bg-dark">


        <ul class="navbar-nav me-auto mt-lg-0 ">
            <li class="nav-item active ">
                <a class="nav-link text-white" >Home <span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white"  routerLink="services">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="landing">Technologies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Contact Us</a>
            </li>
        </ul>
    </div>
</div>
<nav class="navbar navbar-expand-md navbar-light bg-transparent">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler d-lg-none " type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon border-0"></span>
    </button>

    </div>
</nav>



<router-outlet></router-outlet> 