.our-services {
    padding-top: 110px;
  }
  
  .our-services .section-heading {
    text-align: center;
    margin-left: 75px;
    margin-right: 75px;
  }
  
  .our-services .container-fluid {
    padding: 0px 80px;
  }
  
  .service-item {
    padding: 60px 30px;
    border: 2px solid #f7f7f7;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;900&display=swap');
$prim :#151F3E;
$sec:#00a2e2;
* {
    margin: 0;
    padding: 8;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

h2 {
    font-weight: 800;
    padding: 10px;
    text-align: center;
}

h2 span {
    color: $sec;
}

.cards_wrap {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards_wrap .card_item {
    padding: 15px 25px;
    width: 33%;
}

.cards_wrap .card_inner {
    background: #fff;
    border-radius: 5px;
    transition: all .9s;
    margin-bottom: 30px;
    height: 300px;
  }
  
  .service-item:hover {
    background-color: #fff;
    border: 2px solid transparent;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  .service-item .icon {
    margin-top: 10px;
    width: 80px;
    height: 80px;
    display: inline-block;
    text-align: center;
    line-height: 80px;
    background-color: #f7f7f7;
    border-radius: 50%;
  }
  

  
  .service-item h4 {
    font-size: 22px;
    font-weight: 700;
    color: #2a2a2a;
    margin-bottom: 15px;
  }
}