<div id="facts">
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <div class="counter">
                <animated-digit [digit]="5" [duration]="500"></animated-digit>
                <h3>Clients</h3>
            </div>
            <!-- /. -->
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="counter">
                <animated-digit [digit]="4" [duration]="500"></animated-digit>
                <h3>Projects</h3>
            </div>
            <!-- /. -->
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="counter">
                <animated-digit [digit]="14000" [duration]="500"></animated-digit>
                <h3>Hours of Support</h3>
            </div>
            <!-- /. -->
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="counter">
                <animated-digit [digit]="20" [duration]="500"></animated-digit>
                <h3>Team Numbers</h3>
            </div>
            <!-- /. -->
        </div>
    </div>
</div>
