$prim :#151F3E;
$sec:#00a2e2;

/* Colors */

#facts {
    padding: 20px;
    text-align: center;
    background-size: 55px 55px;
    background-color: rgba($color: $sec, $alpha: 0.2);
    border-top: 4px solid rgba($color: $sec, $alpha: 0.1);
    color: $prim;
    border-bottom: 4px solid $sec;
}
